.shop {
  padding: 58px 8% 118px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 2.3px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.shop__title {
  text-align: center;
}

.shop__title::before {
  content: "";
  position: absolute;
  top: 115px;
  left: calc(50% - 40px);
  width: 80px;
  height: 2px;
  background-color: gold;
}

.shop__card {
  margin: 15px;
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  background-color: #ffebcd;
  width: 400px;
  border: 5px inset orange;
}
.example__img {
  height: 260px;
}
.description {
  height: 250px;
}

.price {
  height: 50px;
  background-color: #f0e68c;
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 60px;
}
