.container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 10px 10px;
    background-color: rgb(247, 210, 0);
    width: 400px;
    height: 700px;
    box-shadow: 4px 8px 39px 3000px rgba(0, 0, 0, 0.84);
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.title{
font-size: 30px;

}
.btn {
    width: 18px;
    height: 18px;
    margin: 20px auto;
    margin-left: 350px;
    position: relative;
    transform: rotate(45deg) scale(2);
}
 
.btn .top,
.btn .bot {
    display: block;
    background: #530101;
    position: absolute;
    top: 50%;
    left: 50%;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: 1;
}
 
.btn .top {
    height: 100%;
    width: 2px;
    margin-left: -1px;
    transform: skewY(45deg);
    top: 0;
}
 
.btn .bot {
    width: 100%;
    height: 2px;
    margin-top: -1px;
    transform: skewX(-45deg);
    left: 0;
}
 
@-webkit-keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0%;
    }
}
 
@keyframes top-out {
    from {
        top: 0%;
        height: 100%;
    }
    to {
        top: 200%;
        height: 0%;
    }
}
@-webkit-keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}
@keyframes top-in {
    from {
        top: -100%;
        height: 0%;
    }
    to {
        top: 0%;
        height: 100%;
    }
}
@-webkit-keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@keyframes bot-out {
    from {
        left: 0%;
        width: 100%;
    }
    to {
        left: 200%;
        width: 0%;
    }
}
@-webkit-keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}
@keyframes bot-in {
    from {
        left: -100%;
        width: 0%;
    }
    to {
        left: 0%;
        width: 100%;
    }
}
.btn:hover {
    cursor: pointer;
}
.btn:hover .top {
    animation: top-out 0.25s forwards, top-in 0.25s forwards 0.25s;
}
.btn:hover .bot {
    animation: bot-out 0.25s forwards 0.1s, bot-in 0.25s forwards 0.35s;
}